/*!
global > font
------------------------------
*/
:root {
  --font-family-base: Raleway, Meiryo, sans-serif;
  --font-size-sm: 0.75rem; //12px
  --font-size-smmd: 1rem; //16px
  --font-size-md: 1.25rem; //20px
  --font-size-mdlg: 1.5rem; //24px
  --font-size-lg: 2rem; //32px
  --font-size-xl: 2.5rem; //40px
}
