@use "../../global" as g;

// page > top > common

// header
.header {
  position: absolute;
  z-index: var(--z-index-header);

  &__logo {
    background-color: var(--color-main);
    font-size: var(--font-size-lg);
    color: var(--color-base);

    @include g.mq(sm) {
      font-size: var(--font-size-mdlg);
    }
  }

  &__nav {
    @include g.mq(xl) {
      background: var(--color-accent);
    }
  }

  &__list {
    color: var(--color-base);
  }
}

.twitter {
  width: 32px;
  height: 32px;
  background: var(--color-base);
  border-radius: 5px;
}

.instagram {
  @extend .twitter;
}

.hm {
  display: none;

  @include g.mq(xl) {
    display: block;
    position: absolute;
    cursor: pointer;
    top: 18px;
    right: 18px;
    width: 74px;
    height: 56px;
    background: var(--color-main);
    z-index: var(--z-index-hamburger);

    &.is-active {
      background: var(--color-base);
    }
  }

  &__bar {
    @include g.mq(xl) {
      position: absolute;
      height: 3px;
      left: 15px;
      background: var(--color-base);
      transition: 0.3s;
    }

    &--top {
      @include g.mq(xl) {
        width: 27px;
        top: 25%;

        &.is-active {
          width: 45px;
          transform: rotate(20deg);
          transition: 0.3s;
          background: var(--color-font-base);
        }
      }
    }

    &--bottom {
      @include g.mq(xl) {
        width: 45px;
        bottom: 50%;

        &.is-active {
          transform: rotate(-20deg);
          transition: 0.3s;
          bottom: 70%;
          background: var(--color-font-base);
        }
      }
    }
  }

  &__text {
    @include g.mq(xl) {
      position: absolute;
      bottom: 10%;
      left: 15px;
      color: var(--color-base);

      &.is-active {
        color: var(--color-font-base);
      }
    }
  }
}

// top-concept
.top-concept {
  &__flex {
    display: flex;
    justify-content: space-between;

    @include g.mq(md) {
      display: block;
    }
  }

  &__content {
    position: relative;
    margin: 40px 120px 40px 0;

    @include g.mq(xl) {
      margin-right: 40px;
    }
  }

  &__text {
    margin: 32px 0;

    @include g.mq(xl) {
      font-size: var(--font-size-smmd);
    }

    @include g.mq(sm) {
      font-size: var(--font-size-sm);
    }
  }

  &__title {
    &--ja {
      font-size: var(--font-size-xl);
      color: var(--color-accent);
      font-weight: bold;

      @include g.mq(xl) {
        font-size: var(--font-size-mdlg);
      }

      @include g.mq(sm) {
        font-size: var(--font-size-md);
      }
    }

    &--en {
      font-size: var(--font-size-lg);
      color: var(--color-accent);
      font-style: italic;

      @include g.mq(xl) {
        font-size: var(--font-size-smmd);
      }
    }
  }

  &__img {
    width: 100%;
    height: 100%;

    &--garden {
      background-image: url(../img/garden-g3d7ce481b_1920.jpg);
      background-repeat: no-repeat;
      background-size: cover;
      background-position-x: center;
    }

    &--leaf {
      background: url(../img/leaf-g86f5dcd9b_1920.jpg);
      background-repeat: no-repeat;
      background-size: cover;
      background-position-x: center;
    }

    &--coffee {
      background: url(../img/coffee-g2b78d257b_1920.jpg);
      background-repeat: no-repeat;
      background-size: cover;
      background-position-x: center;
    }

    &--container {
      width: 100%;
      height: 100%;
      display: grid;
      gap: 10px;
      grid-template-rows: 300px 200px;
      grid-template-columns: 1fr 1fr;

      @include g.mq(sm) {
        display: block;
        width: 100%;
      }
    }

    &--wrap {
      width: 100%;

      &:nth-of-type(1) {
        grid-row: 1/2;
        grid-column: 1/3;
      }

      &:nth-of-type(2) {
        grid-row: 2/3;
        grid-column: 1/2;

        @include g.mq(lg) {
          transform: translateX(80px);
        }

        @include g.mq(md) {
          transform: translateX(0);
        }
      }

      &:nth-of-type(3) {
        grid-row: 2/3;
        grid-column: 2/3;
      }

      @include g.mq(md) {
        margin-top: 16px;
      }
    }

    &--modifier {
      position: absolute;
      width: 50px;
      height: 50px;
    }
  }
}

.coffee-pot {
  top: -60px;
  left: 0;
  transform: rotate(-30deg);
}

.coffee-beans {
  top: 0;
  right: -40px;
  transform: rotate(20deg);
}

.cap-cake {
  bottom: 0;
  right: 0;
  transform: rotate(20deg);

  @include g.mq(sm) {
    right: -60px;
  }
}

// top-menu
.top-menu {
  &__title {
    position: relative;
    text-align: center;
    color: var(--color-accent);

    &--en {
      font-size: var(--font-size-xl);
      font-weight: bold;

      @include g.mq(sm) {
        font-size: var(--font-size-mdlg);
      }
    }

    &--ja {
      font-size: var(--font-size-md);

      @include g.mq(sm) {
        font-size: var(--font-size-sm);
      }
    }
  }

  &__category {
    position: relative;
    display: flex;
    justify-content: space-between;
    width: 300px;
    margin: 24px auto;
    font-size: var(--font-size-mdlg);
    color: var(--color-accent);

    @include g.mq(sm) {
      width: 240px;
    }

    &--item {
      cursor: pointer;
      position: relative;

      @include g.mq(sm) {
        font-size: var(--font-size-md);
      }

      &::after {
        content: '';
        position: absolute;
        left: -5%;
        bottom: -5px;
        width: 110%;
        height: 2px;
        background: var(--color-accent);
        transform: scale(0, 1);
        transition: transform 0.3s;
      }

      &:hover::after {
        transform: scale(1, 1);
      }
    }
  }

  &__list {
    position: relative;
    display: grid;
    row-gap: 80px;
    column-gap: 100px;
    grid-template-rows: 300px 300px;
    grid-template-columns: 1fr 1fr 1fr;
    margin-top: 80px;

    @include g.mq(xl) {
      grid-template-columns: 1fr 1fr;
    }

    @include g.mq(sm) {
      display: block;
      box-shadow: none;
      margin-top: 40px;
    }
  }

  &__item {
    &:nth-of-type(1) {
      grid-row: 1/2;
      grid-column: 1/2;
    }

    &:nth-of-type(2) {
      grid-row: 1/2;
      grid-column: 2/3;
    }

    &:nth-of-type(3) {
      grid-row: 1/2;
      grid-column: 3/4;

      @include g.mq(xl) {
        grid-row: 2/3;
        grid-column: 1/2;
      }
    }

    &:nth-of-type(4) {
      grid-row: 2/3;
      grid-column: 1/2;

      @include g.mq(xl) {
        grid-row: 2/3;
        grid-column: 2/3;
      }
    }

    &:nth-of-type(5) {
      grid-row: 2/3;
      grid-column: 2/3;

      @include g.mq(xl) {
        grid-row: 3/4;
        grid-column: 1/2;
      }
    }

    &:nth-of-type(6) {
      grid-row: 2/3;
      grid-column: 3/4;

      @include g.mq(xl) {
        grid-row: 3/4;
        grid-column: 2/3;
      }
    }

    &--img {
      width: 100%;
      height: 200px;
      object-fit: cover;
    }

    &--flex {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-top: 16px;
    }

    &--name {
      font-size: var(--font-size-md);
    }

    &--price {
      font-size: var(--font-size-mdlg);
    }

    &--detail {
      font-size: var(--font-size-sm);
      margin-top: 16px;
    }
  }

  &__img {
    &--modifier {
      width: 60px;
      height: 60px;
      position: absolute;

      @include g.mq(sm) {
        width: 45px;
        height: 45px;
      }
    }
  }
}

.drinks {
  &__list {
    display: none;
  }
}

.sweets {
  &__list {
    display: none;
  }
}

.ladle {
  top: 0;
  left: 60%;
  transform: rotate(20deg);
}

.folk {
  top: 0;
  right: -40%;
  transform: rotate(30deg);

  @include g.mq(sm) {
    top: -50px;
    left: 0;
  }
}

.paella {
  bottom: 0;
  right: 40%;
}

//shop info
.shop-info {
  &__title {
    position: relative;
    display: flex;
    align-items: flex-end;

    @include g.mq(sm) {
      display: block;
      text-align: center;
    }

    &--en {
      font-size: var(--font-size-xl);
      color: var(--color-accent);
      font-weight: bold;

      @include g.mq(sm) {
        font-size: var(--font-size-mdlg);
      }
    }

    &--ja {
      font-size: var(--font-size-md);
      color: var(--color-accent);
      margin-left: 10px;

      @include g.mq(sm) {
        font-size: var(--font-size-sm);
      }
    }
  }

  &__flex {
    display: flex;
    justify-content: space-between;
    align-items: center;

    @include g.mq(xl) {
      display: block;
    }
  }

  &__table {
    margin-top: 24px;
    margin-right: 44px;
    width: 45%;
    align-self: flex-start;
    font-size: var(--font-size-smmd);

    @include g.mq(xl) {
      width: 80%;
      margin: 40px auto;
    }

    @include g.mq(sm) {
      width: 100%;
      font-size: var(--font-size-sm);
    }
  }

  &__item {
    border-bottom: 1px solid var(--color-font-base);
    padding: 16px;
    width: 30%;

    @include g.mq(sm) {
      padding: 16px 10px;
    }
  }

  &__body {
    border-bottom: 1px solid var(--color-font-base);
  }

  &__map {
    position: relative;
    box-shadow: 40px 40px var(--color-main);
    width: 90%;

    @include g.mq(sm) {
      width: 100%;
    }
  }

  &__img {
    position: absolute;
    width: 60px;
    height: 60px;

    @include g.mq(sm) {
      width: 45px;
      height: 45px;
    }
  }
}

.bell {
  top: -60px;
  left: 50%;
  transform: rotate(20deg);
}

// top-contact
.top-contact {
  background: var(--color-accent);

  &__title {
    text-align: center;
    color: #333;

    &--en {
      font-weight: bold;
      font-size: var(--font-size-xl);

      @include g.mq(sm) {
        font-size: var(--font-size-mdlg);
      }
    }

    &--ja {
      margin-left: 10px;

      @include g.mq(sm) {
        font-size: var(--font-size-sm);
      }
    }
  }

  &__text {
    text-align: center;
    font-size: var(--font-size-md);
    color: #333;
    margin-top: 40px;

    @include g.mq(sm) {
      font-size: var(--font-size-sm);
    }
  }

  &__button {
    display: inline-block;
    padding: 0.75rem 1.25rem;
    background: var(--color-base);
    border: 3px solid var(--color-font-base);
    border-radius: 9999px;
    font-size: var(--font-size-md);
    font-weight: bold;

    @include g.mq(xl) {
      font-size: var(--font-size-smmd);
    }

    @include g.mq(sm) {
      font-size: var(--font-size-sm);
      padding: 0.75rem 1.5rem;
    }

    &::after {
      content: '\f101';
      font-family: 'font awesome 5 free';
      font-weight: 900;
      margin-left: 120px;

      @include g.mq(sm) {
        margin-left: 20px;
      }
    }

    &--wrap {
      text-align: center;
      width: 90%;
      margin: 16px auto 80px auto;
    }
  }
}

// footer
.footer {
  background: var(--color-accent);
  text-align: center;
  padding: 20px 0;

  &__copy {
    color: #333;
    font-weight: bold;
  }
}
